#search:focus {
	border: 0;
        border-bottom: 1px solid black;
        border-radius:0 ;
        box-shadow: none;
        outline: 0;

}

#search {
	border: 0;
        border-bottom: 1px solid black;
        transition-property: border-bottom;
        transition-duration: 0.3s;
        border-radius:0 ;
        box-shadow: none;
        outline: 0;

}

#search_songs {
        border: 0;
        border-bottom: 1px solid black;
        transition-property: border-bottom;
        transition-duration: 0.3s;
        border-radius:0 ;
        box-shadow: none;
        outline: 0;

}

#search_genre_songs {
        border: 0;
        border-bottom: 1px solid black;
        transition-property: border-bottom;
        transition-duration: 0.3s;
        border-radius:0 ;
        box-shadow: none;
        outline: 0;

}

#found_indicator {
        color: rgb(92,184,92);
}


