/*body {
  margin: 0;
  font-family: obliqua, sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f7f7f7;
}*/

h1 {
	font-weight: 700;
	font-style: italic;
}

h2, h3 {
	font-weight: 700;
}

.border-5 {
    border-width: 5px !important;
}

a {
	color: black;
}
